body{
  background-color: gray;
}
#title{
  height: 200px;
  width: 1200px;
  text-align: center;
  font-size: 50px;
  border: solid red 1px;
}
#middle{
  text-align: center;
  border: solid blue 1px;
}
#image_top{
  border: solid black 1px;
}
#wrapper{
  text-align: center;
  height: 900px;
  width: 1200px;
  margin: auto;
}
#birdImage{
  height: 500px;
}
